
.welcome {
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 9999;
background: #feffe8; /* Old browsers */
background: -moz-linear-gradient(top,  #feffe8 1%, #edefdc 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#feffe8), color-stop(100%,#edefdc)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #feffe8 1%,#edefdc 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #feffe8 1%,#edefdc 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #feffe8 1%,#edefdc 100%); /* IE10+ */
background: linear-gradient(to bottom,  #feffe8 1%,#edefdc 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffe8', endColorstr='#edefdc',GradientType=0 ); /* IE6-9 */
overflow: hidden;
}

.logo-welcome {
	width: 44%;
	display: block;
	margin: auto;
	margin-top: 1em;
}

.text-loading {
	font-size: 2.5em;
	color: #0099FF;
}

.legend-center {
	text-align: center;
}


h5.text-loading, h5.load {
	width: 19%;
	margin: auto;
	display: block;
	top: 18px;
	left: -21px;
	position: relative;
}

.app_logo{
	height: 21px;
	display: inline-block;
	margin: auto;

}

.panel-scroll {
   /* overflow: scroll; */
}



